<div
  class="flex justify-content-center w-full h-auto border-round-xl mx-4 my-3"
  [style.box-shadow]="'0px 1px 5px 2px rgba(0, 0, 0, 0.3)'"
>
  <p-table [value]="data" >
    <ng-template pTemplate="header">
      <tr>
        <th class="bg-white">ID</th>
        <th class="bg-white">Cliente</th>
        <th class="bg-white">Valor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.cliente }}</td>
        <td>{{ data.valor }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
