<div class="flex w-full">
    <app-sidebar>
        texto ?
    </app-sidebar>
    <!-- <div class="field grid">
        <label for="firstname3" class="col-fixed">Login</label>
        <div class="col">
            <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
    </div>
    <div class="field grid">
        <label for="lastname3" class="col-fixed">Password</label>
        <div class="col">
            <input id="lastname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
    </div> -->
</div>
