<p-card header="Login" [style]="{ width: '360px', padding: '1rem' }">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="https://primefaces.org/cdn/primeng/images/usercard.png"
    />
  </ng-template>
  <ng-template pTemplate="p-card-content">
    <div class="field grid">
      <label for="login" class="col-fixed">Login</label>
      <div class="col">
        <input
          id="login"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
        />
      </div>
    </div>
    <div class="field grid">
      <label for="password" class="col-fixed">Password</label>
      <div class="col">
        <input
          id="password"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Login" icon="pi pi-check" class="m-auto"></p-button>
  </ng-template>
</p-card>
